* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: auto;
    border: 1px dotted grey;
}

.body {
    max-width: 1200px;
}

.now-playing-header {
    padding: 1rem 0 1rem 2rem;
}

.page-header {
    padding: 3rem 0 3rem 2rem;
}

.search-field {
    padding: 2rem;
}

.artist-name {
    padding: 2rem 0 2rem 2rem;
}

.song-set {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.track-details {
    list-style-type: none;
    padding: 1rem;
}