* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 350;
    padding: 0;
    margin: auto;
    /* border: 1px dotted grey; */

}

main {
    max-width: 1200px;
    height: 100%;
    padding: 0 2rem 4rem 2rem;
}

.now-playing-header {
    padding: 1rem 0 1rem 4rem;
    border-bottom: 2px solid darkslategray;
}

.page-header {
    font-family: 'Fredericka the Great', cursive;
    letter-spacing: 2rem;
    color: darkslategray;
    font-size: 80px;
    background-color: powderblue;
    width: 100%;
    padding: 3rem 0 3rem 4rem;
    border-bottom: 2px solid darkslategray;
}

.search-field {
    padding: 2rem 0 2rem 4rem;
}

.artist-name-header {
    padding: 2rem 0 2rem 2rem;
    text-transform: capitalize;
}

.song-set {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.track-details {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 1rem;
    width: 225px;
    height: 225px;
    text-align: center;
    justify-content: center;
    border-bottom: 2px dashed hotpink;
    border-right: 2px dashed blueviolet;
    border-top: 2px dashed #b0e0e6;
    border-left: 2px dashed orange;
    margin: 0 2rem 2rem 0;
    overflow: hidden;
}

.audio-list-item {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.audio-list-item:hover {
    text-shadow: black;
    color: hotpink;
    cursor: pointer;
}