* {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    padding: 0;
    margin: auto;
    border: 1px dotted grey;

}

body {
    max-width: 1200px;
    height: 100%;
    padding: 0 2rem 4rem 2rem;
}

.now-playing-header {
    padding: 1rem 0 1rem 2rem;
}

.page-header {
    font-family: 'Fredericka the Great', cursive;
    font-size: 50px;
    padding: 3rem 0 3rem 2rem;
}

.search-field {
    padding: 2rem;
}

.artist-name {
    padding: 2rem 0 2rem 2rem;
}

.song-set {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

.track-details {
    list-style-type: none;
    padding: 1rem;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 2px solid hotpink;
    margin-bottom: 1rem;
}

.audio {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.audio:hover {
    color: hotpink;
    cursor: pointer;
}